torch (2.5.0)
torchvision (0.20.0)
h5py (3.12.1)
numpy (1.26.4)
pandas (2.2.3)
matplotlib (3.9.2)
seaborn (0.13.2)
termcolor (2.5.0)
tabulate (0.9.0)
sep (1.2.1)
scipy (1.14.1)
tqdm (Version not specified)
Pillow (11.0.0)
scikit-learn (1.5.2)
imageio (2.36.0)
tensorboard (2.17.1)
photutils (2.0.2)
ipython (8.28.0)